<!doctype html>
<html ng-app="app">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="components.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="ChangesetController as ctrl">
        <button title="Add" ng-click="ctrl.addItem()">Add</button>

        <div ng-repeat="item in ctrl.displayedItems track by $index">
            <form-row label="Name" value="{{item.name}}" ng-click="ctrl.removeItem(item)"></form-row>
            <form-row label="Surname" value="{{item.surname}}"></form-row>
        </div>

    </body>
</html>